<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <strong>QueStack</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/home">
                Home
            </a>
            <a class="navbar-item" routerLink="/about">
                About
            </a>
            <a class="navbar-item" routerLink="/user/new-question">
                New Question
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button is-small is-primary">
                        <strong>Sign up</strong>
                    </button>
                    <button class="button is-small is-light" (click)="loginAction(true)">
                        Log in
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Login Dialog box -->
<app-login *ngIf="showLogin" [show]="showLogin" (onClose)="loginAction(false)"></app-login>
