/* You can add global styles to this file, and also import other style files */
.chip {
    display: inline-block;
    padding: 2px 10px;
    margin: 5px;
    border: 1px solid;
    border-radius: 19px;
    color: blue;

    &.disabled {
        color: lightgray;
    }
}

button,
input {
    border: 1px solid;
    padding: 5px;
    margin: .5rem;
}

.highlight-error-fields {
    input,
    textarea {
        &.ng-invalid.ng-touched {
            border: 1px solid tomato;
        }
        &.ng-valid.ng-touched {
            border: 1px solid green;
        }
    }
}